*{
    margin: 0;
    padding: 0;
}
header.cabecalho{
    background-color: #219ec8;
    min-height: 100px;
    max-height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo{
    border-radius: 50%;
    width: auto;
    height: 150px;
    outline: white;
    outline-width: 5px;
    outline-style: double;
    margin-top: 5%;
}
.cabecalho li{
    display: inline-block;
}
.cabecalho a{
    color: white;
    padding: 25px 15px;
    font-size: 20px;
    font-family: sans-serif;
    text-decoration: none;
}
.barra{
    font-family: sans-serif;
    font-size: 25px;
}

.subcabecalho{
    background-color: #363636;
    min-height: 50px;
    align-items: center;
    justify-content: space-around;
    display: flex;
}

.drop{
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.drop ul{
    list-style-type: none;
}

.topico{
    text-decoration: none;
    color: white;
    padding: 16px 10px;
    border: none;
    font-size: 15px;
}

.link{
    display: none;
    position: absolute;
    padding: 16px 10px;
    border: none;
}

.link a{
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 12px;
    padding: 16px 10px;
    
}

.drop:hover .topico{
    background-color: #219ec8;
    min-width: 100px;
    display: block;
}

.drop:hover .link{
    display: block;
    background-color: #219ec8;
    min-width: 100px;
    text-decoration: none;
}

.drop:hover .link li{
    padding: 10px;
}

.drop:hover .link li:hover{
    text-decoration: underline;
}

.titulo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 20px;
}

.principal{
    display: flex;
    flex-direction: row;
}

.img-principal{
    width: 500px;
    padding: 25px;
    padding-left: 100px;
}

.texto-principal{
    padding: 25px;
    margin-right: 100px;
    font-size: 1.2em;
}

.artigo2{
    padding-top: 50px;
    padding-bottom: 50px;
}

.artigo2-titulo{
    padding: 25px;
    padding-left: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 50px;
}

.artigo2-alinhamento{
    display: flex;
    flex-direction: row;
}

.artigo2-texto{
    padding-left: 100px;
    font-size: 1.2em;
    padding-right: 25px;
}

.artigo2-img{
    padding-right: 100px;
}

.artigo3{
    padding-top: 50px;
    padding-bottom: 50px;
}

.artigo3-titulo{
    padding: 25px;
    padding-left: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 50px;
}

.artigo3-texto{
    padding-left: 100px;
    padding-right: 100px;
    font-size: 1.2em;
}

.artigo3-img{
    text-align: center;
    padding-top: 25px;
}

.artigo4{
    padding-top: 25px;
    padding-bottom: 50px;
}

.artigo4-titulo{
    padding: 25px;
    padding-left: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 25px;
}

.artigo4-texto{
    padding-left: 100px;
    padding-right: 100px;
    font-size: 1.2em;
}

.artigo4-video{
    padding-top: 25px;
    text-align: center;
}