*{
    margin: 0;
    padding: 0;
}
header.cabecalho{
    background-color: #219ec8;
    min-height: 100px;
    max-height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo{
    border-radius: 50%;
    width: auto;
    height: 150px;
    outline: white;
    outline-width: 5px;
    outline-style: double;
    margin-top: 5%;
}
.cabecalho li{
    display: inline-block;
}
.cabecalho a{
    color: white;
    padding: 25px 15px;
    font-size: 20px;
    font-family: sans-serif;
    text-decoration: none;
}
.barra{
    font-family: sans-serif;
    font-size: 25px;
}
header.subcabecalho{
    background-color: #363636;
    min-height: 50px;
    align-items: center;
    justify-content: space-around;
    display: flex;
}
.drop{
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.drop ul{
    list-style-type: none;
}
.topico{
    text-decoration: none;
    color: white;
    padding: 16px 10px;
    border: none;
    font-size: 15px;
}
.link{
    display: none;
    position: absolute;
    padding: 16px 10px;
    border: none;
}
.link a{
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 12px;
    padding: 16px 10px;
}
.drop:hover .topico{
    background-color: #219ec8;
    min-width: 100px;
    display: block;
}
.drop:hover .link{
    display: block;
    background-color: #219ec8;
    min-width: 100px;
    text-decoration: none;
}
body{
    background-color:black;
}
.titulo{
    color: #219ec8;
    font-size: 50px;
    font-style: oblique;
    font-family: sans-serif;
    text-align: center;
}
#subtitulo{
    color: white;
    font-size: 28px;
    font-family: sans-serif;
    text-align: center;
}
#parallax1{
    background-image: url("../img/imagem\ água\ .jpg");
    min-height: 250px;
    background-attachment: fixed;
    background-position:center;
    background-repeat: no-repeat;
    background-size:80%;
}
#parallax2{
    background-image: url("../img/foto\ parque\ das\ águas.jpg");
    min-height: 250px;
    background-attachment: fixed;
    background-position:center;
    background-repeat: no-repeat;
    background-size: 80%;
}
.corpo1{
    background-color: #363636;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
}
.corpo2{
    background-color: #363636;
    margin-top: 0%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
}
.corpo3{
    background-color: #363636;
    margin-top: 0%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
}

.corpo1 label{
    color: white;
    font-size: 25px;
    font-family: sans-serif;
    text-align: justify;
    
}
.corpo2 label{
    color: white;
    font-size: 25px;
    font-family: sans-serif;
    text-align: justify;
    
}
.corpo3 label{
    color: white;
    font-size: 25px;
    font-family: sans-serif;
    text-align: justify;
}
strong.negrito {
    font-size:33px;
    
}
